/* Semantic */

.header-text {
  font-size: 2rem;
}

.page-padding {
  padding: 1rem 2rem;
}

.plus_button {
  margin: 0.5rem;
}

.task-button-styling {
  margin-left: 0.5rem;
  color: rgb(82, 82, 82);
}

.task-input-styling {
  border: none;
  outline: none;
  padding: 0.5rem;
}

.todo-styling {
  display: flex;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.text-center {
  text-align: center;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.hidden {
  display: none !important;
}

.align-items-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0 0.6rem 0 0.15rem;
}

/* Psuedo */
button:hover,
a:hover {
  cursor: pointer;
}

button.plus_button:hover {
  fill: rgb(65, 218, 65);
  color: rgb(65, 218, 65);
}

.task-input-styling:focus {
  outline: none;
  border-bottom: 1px solid black;
}

/* Media Queries */
