/* Semantic */

.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.modal-content {
  align-self: center;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 0.25rem;
  border: 1px solid black;
  background-color: aliceblue;
  box-shadow: 2px 2px 10px #999999;
  text-align: center;
}

.modal-content h2 {
  margin: 0.5rem;
  font-size: 1.5rem;
  grid-column: 2;
}

.modal .exit-container {
  grid-column: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 0.25rem;
}

.modal .exit {
  width: 16px;
  height: 16px;
  padding: 0.5rem;
}

.modal img {
  width: 100%;
}

.modal-content hr {
  margin: 0 0.5rem;
  border: none;
  border-top: 0.25px solid black;
}

.modal .header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.header {
  position: relative;
  margin-top: 1.5rem;
}

.header-text {
  font-size: 2rem;
}

.page-padding {
  padding: 1rem 2rem;
}

.plus_button {
  margin: 0.5rem;
}

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.header-bar select {
  border: none;
  text-align: end;
  margin: 0.25rem 0.5rem;
}

.header-bar .project-text {
  border-right: 1px solid black;
  padding: 0.25rem 0.5rem;
}

.task-button-styling {
  margin-left: 0.5rem;
  color: rgb(82, 82, 82);
}

.header .remove_checked {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.25rem 1rem;
  margin: 0.075rem 0;
  border: 1px solid black;
  background-color: rgb(240, 192, 192);
}

input.add_task {
  border: none;
  outline: none;
  border-radius: 0;
  padding: 0.75rem 0 0.6rem 2.5rem;
}

.list_content li {
  user-select: none;
  display: flex;
  padding: 0.75rem 0.5rem 0.6rem 0.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.list_content li > input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 2px;
  margin-right: 12px;
}

.text-center {
  text-align: center;
}

.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.hidden {
  display: none !important;
}

.align-items-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

/* Psuedo */
button:hover,
a:hover {
  cursor: pointer;
}

button.plus_button:hover {
  fill: rgb(65, 218, 65);
  color: rgb(65, 218, 65);
}

input.add_task:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.header-bar select:focus {
  outline: none;
}

/* Media Queries */
